@import "./_reset";
@import "./variables";
@import "./mixins";
@import "./lists";

html {
    font-size: 10px;
}

body {
    color: $dirty-white;
    background: $dark-grey;
    background: linear-gradient(120deg, $grey, $dark-grey);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

header {
    @include flexbox();
}

h1 {
    text-align: center;
}

.container {
    @include flexbox();
    align-items: flex-start;
    margin: 0 1.5rem;
    transition: all .5s ease;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}

.column {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    min-height: 20vh;
    position: relative;
    background: transparent;
    margin: 1rem;
    padding: 1rem;

    &--small {
        flex: 0 0 33%;

        @media (max-width: 992px) {
            flex: 0 0 100%;
        }
    }

    &--medium {
        flex: 0 0 50%;
        @media (max-width: 992px) {
            flex: 0 0 100%;
        }
    }

    &--large {
        flex: 0 0 66%;
        @media (max-width: 992px) {
            flex: 0 0 100%;
        }
    }
}

.button {
    @include buttonStyle();

    &--remove-all {
        background: $dark-grey;
        width: 100%;
    }

    &--refresh {
        background: $blue;

        &:hover {
            background-color: darken($blue, 15%);
            transition: all .3s;
        }
    }
}

.disabled {
    filter: grayscale(1);
}

.hidden {
    display: none;
}