html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

*:focus, *:active {
  outline: none;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.currency, .favourite, .info {
  color: #222831;
  background: #eeeeee;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  min-height: 20vh;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.info {
  margin-top: 1rem;
  max-width: 40rem;
  min-height: 10vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 992px) {
  .info {
    max-width: 80rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .info p {
    padding: 0.5rem;
  }
  .info p span {
    display: block;
  }
}

.currency {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  max-width: 40rem;
}

.currency h3 {
  grid-column: 1 / -1;
  text-align: center;
  color: #eeeeee;
  background: #222831;
  padding: 1rem;
  border-radius: 0.5rem;
}

.currency__field {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.currency__field__image {
  width: 10rem;
  padding: 1rem;
  border-radius: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.currency__field__image:hover {
  -webkit-filter: drop-shadow(0 0 0.5rem #222831);
          filter: drop-shadow(0 0 0.5rem #222831);
}

@media (max-width: 992px) {
  .currency {
    -ms-grid-columns: (12rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 12rem);
    max-width: 80rem;
  }
}

@media (max-width: 576px) {
  .currency {
    -ms-grid-columns: (10rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 10rem);
    grid-gap: 0;
  }
}

.favourite {
  background: #0092ca;
  max-width: 80rem;
  min-height: 15vh;
}

.favourite__header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  color: #eeeeee;
  background: #222831;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media (max-width: 480px) {
  .favourite__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (20rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 20rem);
    padding: 0.5rem;
  }
  .favourite__header p {
    padding: 0.5rem;
    width: 100%;
  }
  .favourite__header p:not(:last-child) {
    border-bottom: 0.1rem solid #393e46;
  }
}

.favourite--empty {
  position: relative;
  background: transparent;
  width: 100%;
  height: 7rem;
  margin: 0 auto;
  font-style: italic;
}

.favourite--empty span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.favourite .favourite-list__item {
  background: #eeeeee;
  padding: 1rem;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: move;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.favourite .favourite-list__item:nth-child(even) {
  background: #dddddd;
}

.favourite .favourite-list__item .item__details {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.favourite .favourite-list__item .item__details--fullname {
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
}

.favourite .favourite-list__item .item__details--purchase, .favourite .favourite-list__item .item__details--sale {
  font-weight: 600;
}

@media (max-width: 480px) {
  .favourite .favourite-list__item .item__details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (20rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 20rem);
    padding: 0.5rem;
  }
  .favourite .favourite-list__item .item__details p {
    padding: 0.5rem;
    text-align: center;
  }
}

.favourite__footer {
  padding: 0.5rem;
}

html {
  font-size: 10px;
}

body {
  color: #eeeeee;
  background: #222831;
  background: linear-gradient(120deg, #393e46, #222831);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20vh;
}

h1 {
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1.5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 992px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  min-height: 20vh;
  position: relative;
  background: transparent;
  margin: 1rem;
  padding: 1rem;
}

.column--small {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@media (max-width: 992px) {
  .column--small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.column--medium {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 992px) {
  .column--medium {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.column--large {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

@media (max-width: 992px) {
  .column--large {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.button {
  background-color: #393e46;
  color: #eeeeee;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  background-color: #17191c;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button--remove-all {
  background: #222831;
  width: 100%;
}

.button--refresh {
  background: #0092ca;
}

.button--refresh:hover {
  background-color: #005b7e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.hidden {
  display: none;
}

[draggable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dragging {
  opacity: .5;
}
/*# sourceMappingURL=app.css.map */